<head></head>
<body>
    <nav>
        <app-nav-bar></app-nav-bar>
    </nav>
    <h1 style="font-weight: bold ; color: black;font-family: fantasy;text-align: center;">ABOUT US</h1>
    <div class='para' style="color: gray;">
    <div ><p>We believe that Every Penny Saved is Every Penny Earned! As more and more Indians are turning towards online shopping and bill payments, we have taken it to ourselves to help them save on every transaction.</p></div>
    <div><p> At Deals & Coupons, we curate the Best Deals and Coupon Codes from all top retailers in India and present them to our users. Our users can enjoy savings through these Coupons and also earn Extra Cashback on all their purchases! CouponRaja is a venture launched by Navi Mumbai based Logicserve Technologies.</p></div>
    <div><p> Coupon codes are very easy and simple to use. They save you money with minimum hassle. Add the goods you need to buy to the shopping cart and proceed to check out as usual. When you reach the payment stage, the website will ask if you have a coupon code/ promotional code etc.

        Deals and Coupons aims at creating an Online Shopping Experience like never before by bringing together all top Shopping websites at one place. Explore new websites, check out discounts and save a lot on all your online purchases.
        
        </p></div>
    </div>
</body>

